



{% load static %}

<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/favicon.png" type="">

  <title> Orthoc </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href=" {% static 'app/css/bootstrap.css' %} " />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.2.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  <!-- font awesome style -->
  <link href="{% static 'app/css/font-awesome.min.css' %}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static 'app/css/style.css' %}" rel="stylesheet" />
  <link href="{% static 'app/css/modif.css' %}" rel="stylesheet" />
  <link href="{% static 'app/css/slick.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'app/css/responsive.css' %}" rel="stylesheet" />

</head>
{% if is_active %}
<body class="sub_page" >
  <div class="hero_area">

    <div class="hero_bg_box">
      <img src="{{get_banner.picture.url}}" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              Jamoh
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html"> About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="departments.html">Departments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="doctors.html">Doctors</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact Us</a>
              </li>
              <form class="form-inline">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </form>
            </ul>
          </div>
        </nav>
      </div>
    </header>
  </div>
  {% else %}
  
<body>

  <div class="hero_area">

    <div class="hero_bg_box">
      <img src="{{get_banner.picture.url}}" alt="">
    </div>

    <!-- header section strats -->
    

  
    <nav class="nav" style="z-index:1">
        <div class="a-container container_list">
            <div class="a-logo">
                <img src="pngegg.png" alt="">
            </div>
            <div class="main_list" id="mainListDiv">
                <ul>
                    <li>
                        <a href="{% url 'service' %}" class="boutton">demander un service</a>
                        <!-- <button class="boutton">demander un service</button> -->
                    </li>
                    <li>
                        <a href="#" id="nav-cta"> feature line</a>
                    </li>
                    <li id="search">
                    <div class="search-box">
                        <form action="">
                            <input type="text" name="search">
                            <button><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                    </div>
                    </li>
                    <li class="tablette">
                        <a href="#" id="nav-cta"> feature line</a>
                    </li>
                    <li class="tablette">
                        <a href="#" id="nav-cta"> feature line</a>
                    </li>
                </ul>
            </div>
            <div class="media">
                <div class="search-box">
                    <form action="">
                        <input type="text" name="search" class="inputsearch">

                    </form>
                </div>
                <li><a class="search" href="#"><i  class="fas fa-search"></i></a></li>
            </div>
            <div class="media_button">
                <button class="main_media_button" id="mediaButton">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
    </nav>
     

 
    {% endif %}
{% block content %}



{% endblock content %}




  <!-- footer section -->
  <section class="footer_section">
    <div class="container">
      <div class="row">
        
        <div class="col-md-6 col-lg-2 mx-auto footer_col">
          <div class="footer_link_box">
            <h4 style="text-decoration: underline;">
              Services
            </h4>
            <div class="footer_links">
              <a class="active" href="{% url 'welcome' %}">
                Démander un service
              </a>
              <a class="" href="about.html">
                Suivre une formation
              </a>
              <a class="" href="{% url 'service' %}">
                Dévenir jobber
              </a>
              
            </div>
          </div>
        </div>
        
        <div class="col-md-6 col-lg-2 mx-auto footer_col">
          <div class="footer_link_box">
            <h4 style="text-decoration: underline;">
              Autre page
            </h4>
            <div class="footer_links">
              <a class="active" href="{% url 'welcome' %}">
                Notre Assurance
              </a>
              <a class="" href="about.html">
                Réglement
              </a>
              <a class="" href="{% url 'service' %}">
                Mode de facturation
              </a>
              
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 mx-auto footer_col">
          <div class="footer_contact">
            <h4 style="text-decoration: underline;">
              Contacter nous
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Cocody /Bonoumin / Phare
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Tel +225 0747486408
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  info.jamoh@gmail.com
                </span>
              </a>
            </div>
          </div>

          <div class="footer_social">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>

        </div>
        
        <div class="col-md-6 col-lg-3 mx-auto footer_col">
          <div class="footer_detail">
            <h4 style="text-decoration: underline;">
              A propos de Jamoh
            </h4>
            <p>
              JAMOH est une start-up innovatrice,
              qui intervient dans le secteur informel
              des petits metiers.
              Avec un nouveau concept qui est Jobber
            </p>
          </div>
        </div>

      </div> 
    </div>
  </section>
    
  <footer  style="background-color:  rgba(29, 29, 29, 0.945);">
    <div class="container">
      <div class="row footer-info d-flex justify-content-center">
        
          <p class="">
            &copy; Copyright <span style="color:green; font-weight:bold"> JAMOH.</span> All Rights Reserved
            <!--<span id="displayYear"></span> -->
          </p>
         
      </div>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script type="text/javascript" src="{% static 'app/js/jquery-3.4.1.min.js' %}"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="{% static 'app/js/bootstrap.js' %}"></script>
  <script type="text/javascript" src="{% static 'app/js/slick.min.js' %}"></script>
  <!-- owl slider -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- custom js -->
  <script type="text/javascript" src="{% static 'app/js/custom.js' %}"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->

  <script>

    $('.slider_slick').slick({
      slidesToShow: 4,
      slidesToscroll: 1,
      autoplay: true,
      autoplayspeed: 2000,
      prevArrow: "none",
      nextArrow: "none"
  });

  </script>

</body>

</html>