<section class="doctor_section layout_padding">
    <div class="container">
      <div class="heading_container ">
        <h2>
          De quel service avez-vous besoins ?
        </h2>
        <p class="col-md-10 px-0">
            Pour chaque situation, trouvez le prestataire dont les compétences répondent
            à vos attentes et à votre niveau d’exigence.
        </p>
      </div>
      <div class="row gy-5 my-4">

        {% for service in get_something_service %}
                <div class="col-md-4 ">
                    <a href="{% url 'sous-service' %}">
                        <div class="a-card">
                            <img src="{{service.picture.url}}" class="a-card-img" alt="" srcset="">
                            <div class="a-card-content">
                                <h3 class="a-card-header text-dark">{{service.name}}</h3>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
      </div>
    </div>
  </section>

  {% if is_true == True %}
  
...

  {% else %}

  <section class="layout_padding p-5 bg-light">
    <div class="container ">
        <div class="heading_container row  p-3">
            <h2 sytle="font-weight:bold">Nos sous service les plus demander</h2> 
        </div>
    </div>
    <div class="container">
        <div class="row slider_slick gy-3 my-1" >
            {% for service in get_something_service %}
                <div class="col-md-3">
                    <div class="b-card ">
                        <img src="{{service.picture.url}}" class="b-card-img" alt="" srcset="">
                        <div class="b-card-content">
                            <p class="mt-3 justify-content-space-between" style="font-weight:bold; font-size:20px">{{service.name}}</p>
                            <p style="color:green">prix entre 3000F - 7000F</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>




  {% endif %}
