{% extends 'app/layout/base.html' %}
{% load static %}
{% block content %}

<header class="header">
    <img src="https://images.pexels.com/photos/3727469/pexels-photo-3727469.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
    <div class="header-text">
        <h1>Réservez une prestation</h1>
      
       <small>Réserver une prestation et payer en espèce ou par mobile money</small>
    </div>
</header>
<div class="container-box " >
    <h1>Et pour que le professionnel puisse intervenir :</h1>
    <small>Les champs comportant un <span>(*)</span> sont obligatoires.</small>
    <form class="form" id="my-form" action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
        <div class="input">
            <label for="address">Où l'artisan doit-il intervenir ?</label>
            <div class="input-items">
                <input type="text" placeholder="Address *" v-model="address" id="address" name="address" >
            </div>
        </div>

        <div class="input">
            <label>À quelles date et heure doit-il intervenir ? </label>
            <div class="input-items">
                <input type="date" v-model="date" name="date">
                <input type="time" v-model="time" name="heure">
            </div>
        </div>

        <div class="input">
            <label>Nombre de professionnel :</label>
            <small>Choisissez le notre de professionnel</small>
            <div class="input-items">
                <select  name="paiementType" v-model="money">
                    <option value="" selected>Sélectionner le nombre de professionnel (*)</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>

        <div class="input">
            <label>Pour que nous puissions mieux suivre votre intervention :</label>
            <small style="padding-left:5px"><span>Montant de la prestation : 300000 FCFA</span></small>
            <div class="input-items">
                <input type="text" v-model="name" placeholder="Noms et Prenoms *" name="nomComplet" >
                <input type="text" v-model="phone" placeholder="Contact Téléphonique *" >
            </div>
            <div class="input-items">
                
                <input type="email" v-model="email" placeholder="Email *" name="email" >
                <textarea type="text" v-model="message" cols="50" rows="2" placeholder="Détails supplémentaires" name="details"></textarea>
            </div>
        </div>
        <div class="input">
            <label>Code Promo :</label>
            <small>Montant de la prestation : <span>300000 FCFA</span></small>
            <div class="input-items" style="flex-direction: row !important">
                <input type="text" placeholder="Ex: ARTNCODEP-000000000000000" style="margin: 0; width: calc(70%);">
                <button onclick="return false" class="codepromo">valider</button>
            </div>
        </div>
        <div class="input">
            <label>Concernant le règlement :</label>
            <small>Choisissez votre mode de paiement</small>
            <div class="input-items">
                <select  name="paiementType" v-model="money">
                    <option value="" selected>Sélectionner le mode de paiement (*)</option>
                    <option value="mobileMoney">MOBILE MONEY</option>
                    <option value="cash">CASH</option>
                </select>
            </div>
        </div>
        <div class="upload">
            <div class="upload-item">
                <div class="images">
                    <img src="https://images.pexels.com/photos/8921246/pexels-photo-8921246.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                    <span class="delete">x</span>
                </div>
                <label for="input1">Importer une image</label>
                <input type="file" id="input1" name="image1">
                
            </div>
            <div class="upload-item">
                <div class="images">
                    <img src="https://images.pexels.com/photos/8921246/pexels-photo-8921246.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
                    <span class="delete">x</span>
                </div>
                <label for="input2">Importer une image</label>
                <input type="file" id="input2" name="image2">
            </div>
        </div>
        <div class="condition">
            <input type="checkbox" name="acceptCondition">
            <span>J'accepte les <span>conditions générales d'utilisation</span></span>
        </div>
        <div class="submit" align=center>
            <button type="submit" @click.prevent='sendData'>
                valider
            </button>
        </div>
    </form>
</div>

{% endblock content %}


<!-- if(!this.name){
            this.errors.push("veuillez saisir votre nom !!!")
          }

          if(this.address == ' '){
            Swal.fire({
              icon: 'error',
              title: 'Your work has been saved',
              text: 'veuillez saisir votre nom'
              showConfirmButton: false,
              timer: 1500
            })
          }
          else{

          
          let myForm = new FormData();
          myForm.append('payment',JSON.stringify(this.commandes))

          axios.defaults.xsrfCookieName = 'XSRF-TOKEN'
          axios.defaults.xsrfHeaderName = 'X-XSRF-TOKEN'
          axios.post("{% url 'postData' %}", myForm, {})
              .then((response) =>{
                if(response.data.success == true){
                  Swal.fire({
                    icon: 'success',
                    title: 'Your work has been saved',
                    showConfirmButton: false,
                    timer: 1500
                  })
                }
                else{
                  Swal.fire({
                    icon: 'error',
                    title: 'Your work has been saved',
                    showConfirmButton: false,
                    timer: 1500
                  })
                }
              })

          }
        } -->